#about.wholepage
	#particles-js-about
	include ../components/portrait
	img.spaceShip(src='images/svg/rocket.svg')
	.container.profileContainer.aboutContainer.align-center
		h1.titleText(style="color:white;") Profile
			h3.aboutShort !{data.aboutshort}
