#experiences.wholepage
	img.fishSVGOne(src='images/svg/fish.svg')
	include ../components/fish
	img.shark(src='images/svg/shark.svg')
	.container.profileContainer.align-center
		h1.titleText Experiences
