#footer
	.tank
		.sand
			.curve
			.curve
			.curve
			.curve
			.curve
			.curve
			.curve
			.curve
			.curve
			.curve
			.curve
			.curve
	.container
		.row.socialgroup
			.col-sm-12.align-center
				.col-sm-12.footertext
					h1.footertitle Let's get in touch
				ul.socialnetwork.socialcircle
					li
						a.icoFacebook(href='https://www.facebook.com/YichenBillHuang', title='Facebook', target='_blank')
							i.fa.fa-facebook
					li
						a.icoInstagram(href='https://www.instagram.com/billykeyss/', title='Instagram', target='_blank')
							i.fa.fa-instagram
					li
						a.icoGithub(href='https://github.com/billykeyss', title='Github', target='_blank')
							i.fa.fa-github
					li
						a.icoDropbox(href='https://docs.google.com/document/d/1tvnVKt-k4qT3rMR8XrZxofnDcTaDp0Raar05AWT7TBU/edit?usp=sharing', title='Resume ', target='_blank ')
							i.fa.fa-file-text-o
					li
						a.icoLinkedin(href='https://ca.linkedin.com/in/yichenbillhuang ', title='Linkedin ', target='_blank ')
							i.fa.fa-linkedin
		.row.align-center.copyright
			.col-sm-12.footertext
				p All logos appearing on the site are the property of their respective owners.
				p
					| Created and maintained with&nbsp
					i.fa.fa-heart(aria-hidden='true')
					|  by Bill Huang
				p ©2016 All rights reserved.
			.col-sm-12
				div
					| Icons made by
					a(href='http://www.freepik.com', title='Freepik') Freepik
					|  from
					a(href='http://www.flaticon.com', title='Flaticon') www.flaticon.com
					|  is licensed by
					a(href='http://creativecommons.org/licenses/by/3.0/', title='Creative Commons BY 3.0', target='_blank') CC 3.0 BY
