#home.wholepage(style="height:100%;")
	#particles-js
	img.spaceStation(src='images/svg/space-station-1.svg')
	img.mars(src='images/svg/mars.svg')
	.container.titleContainer
		.borderContainer
			h1.titleText hey i'm bill huang.
			hr
			h2
				| and i'm a&nbsp
				span.txt-rotate
		.mouse_scroll
			.mouse
				.wheel
			div
				span.m_scroll_arrows.unu
				span.m_scroll_arrows.doi
				span.m_scroll_arrows.trei
