#photos
	.sea
		.circle-wrapper
			.bubble
			.submarine-wrapper
				.submarine-body
					.window
					.engine
					.light
				.helix
				.hat
					.leds-wrapper
						.periscope
						.leds
	.container.profileContainer.align-center
		h1.titleText(style='color:white;') Photos
	.container#instafeed
