#quotes.wholepage.align-center
	.container
		h1.titleText Quotes
		.row
			.col-sm-6.leftQuote
				.quote Beautiful things don't ask for attention
				.authorLeft - James Thurber
				hr
				.quote Ideals are peaceful, history is violent
				.authorLeft - David Adler
				hr
				.quote Where they have burned books, they will end in burning men
				.authorLeft - Heinrich Heine
			.col-sm-6.rightQuote
				.quote Do not seek battle until the victory has been won
				.authorRight - Sun Tzu
				hr
				.quote Nature is history's greatest artist
				.authorRight - unknown
				hr
				.quote Life can only be understood backwards but it must be lived forwards
				.authorRight - Sören Kierkegaard
