#skills.wholepage
	.plane
		img.airplane(src='images/svg/airplane.svg')
	.sunMain
	img.pirateShipOne(src='images/svg/pirate-ship-1.svg')
	include ../components/island
	.container.profileContainer.align-center
		h1.titleText Skills
		.row.skillSet
			.col-md-6
				.skillSetWrapper
					.bar
						.bar-info.html(data-total='95')
							| HTML
							span.percent 95
					.bar
						.bar-info.css(data-total='95')
							| CSS
							span.percent 95
					.bar
						.bar-info.js(data-total='90')
							| JavaScript
							span.percent 90
					.bar
						.bar-info.python(data-total='85')
							| Python
							span.percent 85
			.col-md-6
				.skillSetWrapper
					.bar
						.bar-info.react(data-total='95')
							| ReactJS
							span.percent 95
					.bar
						.bar-info.angular(data-total='95')
							| AngularJS
							span.percent 95
					.bar
						.bar-info.node(data-total='90')
							| Node
							span.percent 90
					.bar
						.bar-info.java(data-total='85')
							| Java
							span.percent 55
