#skills.wholepage
	.plane
		img.airplane(src='images/svg/airplane.svg')
	.sunMain
	img.pirateShipOne(src='images/svg/pirate-ship-1.svg')
	include ../components/island
	.container.profileContainer.align-center
		h1.titleText Skills
		#canvas-holder(style='margin-top:5%;')
			canvas#skillsChart
