/*
* === FOOTER SECTION ===
*/
.footertext {
    margin-top: 20px;
    margin-bottom: 80px;
}

.footertitle {
    color: #FFF;
    font-size: 50px;
}

.socialcircle li {
    a,
    i {
        text-align: center;
    }
}

section#footer .copyright {
    text-align: center;
}

ul {
    &.footer-menu,
    &.socialnetwork {
        display: inline;
        list-style: none;
        padding: 0;
    }
}

section#footer {
    background: #242424;
    margin: 50px 0 0;
}

ul.socialnetwork {
    margin-left: 0 !important;

    li {
        display: inline;
        margin: 0 5px;
    }
}

.socialnetwork a {
    &.icoFacebook:hover {
        background-color: #3B5998;
    }

    &.icoDropbox:hover {
        background-color: #3cf;
    }

    &.icoGithub:hover {
        background-color: #0590B8;
    }

    &.icoLinkedin:hover {
        background-color: #007bb7;
    }

    &.icoInstagram:hover {
        background-color: #125688;
    }
}

.btn-cta:hover {
    color: #fff;
}

.socialcircle {
    li {
        a {
            display: inline-block;
            position: relative;
            margin: 0 auto;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            font-size: 20px;
        }

        i {
            margin: 0;
            line-height: 50px;
        }

        a:hover i {
            -moz-transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            -ms--transform: rotate(360deg);
            transform: rotate(360deg);
            -webkit-transition: all 0.2s;
            -moz-transition: all 0.2s;
            -o-transition: all 0.2s;
            -ms-transition: all 0.2s;
            transition: all 0.2s;
        }
    }

    i {
        color: #fff;
        -webkit-transition: all 0.8s;
        -moz-transition: all 0.8s;
        -o-transition: all 0.8s;
        -ms-transition: all 0.8s;
        transition: all 0.8s;
    }

    li a {
        background: #35A49C;
    }
}

.socialgroup {
    margin-top: 50px;
}
