.wrapper.align-center
  #one.border-circle
  #two.border-circle
  .background-circle
    .triangle-light
    .body
    span.shirt-text I
    span.shirt-text ♥
    span#change-text.shirt-text CSS
    .triangle-dark
  .head
    #left.ear
    #right.ear
    .hair-main
      #left.sideburn
      #right.sideburn
      .hair-top
    .face
      .hair-bottom
      .nose
      #left.eye-shadow
        .eyebrow
        .eye
      #right.eye-shadow
        .eyebrow
        .eye
      .mouth
      .shadow-wrapper
        .shadow
    span#one.music-note ♫
    span#two.music-note ♪
