extends layout

block content
	#error.wholepage(style="height:100%;")
		#particles-js
		img.spaceStation(src='images/svg/space-station-1.svg')
		img.mars(src='images/svg/mars.svg')
		.container.titleContainer
			.borderContainer
				h1 Not all who wander are lost...
				h4 But... you are definitely lost.
				a(href='./') Lets get you home
