extends layout

block content
	#home.wholepage
		.stars
		img.spaceStation(src='images/svg/space-station-1.svg')
		img.mars(src='images/svg/mars.svg')
		.container.titleContainer
			.borderContainer
				h1.titleText hey i'm bill huang.
				hr
				h2
					| and i'm a&nbsp
					span.txt-rotate(data-rotate='["developer", "traveller", "nap enthusiast", "homo Sapien", "buffet connoisseur"]')
			.mouse_scroll
				.mouse
					.wheel
				div
					span.m_scroll_arrows.unu
					span.m_scroll_arrows.doi
					span.m_scroll_arrows.trei

	include sections/about
	include sections/skills
	include sections/experiences
	include sections/projects



	#photos
		.sea
			.circle-wrapper
				.bubble
				.submarine-wrapper
					.submarine-body
						.window
						.engine
						.light
					.helix
					.hat
						.leds-wrapper
							.periscope
							.leds
		.container.profileContainer.align-center
			h1.titleText(style='color:white;') Photos
		.container#instafeed

	#quotes.wholepage.align-center
		.container
			h1.titleText Quotes
			.row
				.col-sm-6.leftQuote
					.quote Beautiful things don't ask for attention
					.authorLeft - James Thurber
					hr
					.quote Ideals are peaceful, history is violent
					.authorLeft - David Adler
					hr
					.quote Where they have burned books, they will end in burning men
					.authorLeft - Heinrich Heine
				.col-sm-6.rightQuote
					.quote Do not seek battle until the victory has been won
					.authorRight - Sun Tzu
					hr
					.quote Nature is history's greatest artist
					.authorRight - unknown
					hr
					.quote Life can only be understood backwards but it must be lived forwards
					.authorRight - Sören Kierkegaard
