extends layout

block content
  #home.wholepage
    .container.titleContainer
      .borderContainer
        h1.titleText hey i'm bill huang.
        hr
        h2
          | and i'm a&nbsp
          #word developer
      .mouse_scroll
        .mouse
          .wheel
        div
          span.m_scroll_arrows.unu
          span.m_scroll_arrows.doi
          span.m_scroll_arrows.trei

  #about.wholepage
    .wrapper.align-center
      #one.border-circle
      #two.border-circle
      .background-circle
        .triangle-light
        .body
        span.shirt-text I
        span.shirt-text ♥
        span#change-text.shirt-text CSS
        .triangle-dark
      .head
        #left.ear
        #right.ear
        .hair-main
          #left.sideburn
          #right.sideburn
          .hair-top
        .face
          .hair-bottom
          .nose
          #left.eye-shadow
            .eyebrow
            .eye
          #right.eye-shadow
            .eyebrow
            .eye
          .mouth
          .shadow-wrapper
            .shadow
        span#one.music-note ♫
        span#two.music-note ♪
    .container.profileContainer.aboutContainer.align-center
      h1.titleText Profile
        h3.aboutShort !{data.aboutshort}


  #skills.wholepage
    .sunMain
    .container-scene
      .scene
        .sun
        .cloud1
        .cloud2
        .cloud3
        .buildings
          .windows
          .tower-windows
            .tower-window
            .window-sill
          .blue
            .triangle
            .main
            .chimney
            .tower
          .green
            .accent1
            .accent2
          .red
            .roof1
            .main
            .chimney-roof
            .tower-roof
            .roof2
          .white
            .tower
            .triangle
            .main
          .pink
            .facade
            .tower-roof
        .land
          .tops
            .top1
            .top2
            .top3
          .edge
        .trees
          .tree1
            .foliage
            .trunk
            .branch1
            .branch2
          .tree2
            .foliage
            .trunk
            .branch1
            .branch2
          .tree3
            .foliage
            .trunk
            .branch1
            .branch2
          .tree4
            .foliage
            .trunk
            .branch1
            .branch2
          .tree5
            .foliage1
            .trunk
            .branch1
            .branch2
          .tree-white
            .foliage
            .trunk
            .branch1
            .branch2
    .container.profileContainer.align-center
      h1.titleText Skills
      .set-size.charts-container
        .pie-wrapper.progress-95
          span.label JS
          .pie
            .left-side.half-circle
            .right-side.half-circle
        .pie-wrapper.progress-90
          span.label Node
          .pie
            .left-side.half-circle
            .right-side.half-circle
        .pie-wrapper.progress-100
          span.label HTML
          .pie
            .left-side.half-circle
            .right-side.half-circle
        .pie-wrapper.progress-95
          span.label CSS
          .pie
            .left-side.half-circle
            .right-side.half-circle
        .pie-wrapper.progress-75
          span.label(style='padding-left: 18px;') React
          .pie
            .left-side.half-circle
            .right-side.half-circle
        .pie-wrapper.progress-85
          span.label(style='font-size: 30px; padding-top: 24px;') Angular
          .pie
            .left-side.half-circle
            .right-side.half-circle
        .pie-wrapper.progress-45
          span.label C++
          .pie
            .left-side.half-circle
            .right-side.half-circle
        .pie-wrapper.progress-45
          span.label Java
          .pie
            .left-side.half-circle
            .right-side.half-circle
        .pie-wrapper.progress-65
          span.label(style='font-size: 30px; padding-top: 24px;') Python
          .pie
            .left-side.half-circle
            .right-side.half-circle
        .pie-wrapper.progress-95
          span.label(style='font-size: 30px; padding-top: 24px;') Express
          .pie
            .left-side.half-circle
            .right-side.half-circle



  #experiences.wholepage
    .container.profileContainer.align-center
      h1.titleText Experiences
    .fox
      .fox-head
        .fox-eye
        .fox-eye
      .fox-ear
      .fox-ear
      .fox-nose
      .fox-body
      .fox-tail

  #projects.wholepage(style='height:auto;')
    .container.profileContainer.align-center
      h1.titleText Projects
      ul#categories.clr
        li
          div
            img(src='images/projects/armboard.png', alt='')
            h1 Morse Code Translator
            p Takes in string inputs and outputs morse signals. Programmed using an ARM board and assembly language.
        li
          div
            img(src='images/projects/echohackathon.jpg', alt='')
            h1.projectTitle Alexa Rap Bot
            p.projectDescription Node project that uses AWS Lambda and DynamoDB to create an application that allows you to participate in a rap battle with Alexa.
        li.pusher
        li
          div
            img(src='images/projects/tapExchange.png', alt='')
            h1 TapExchange
            p TapExchange is a simple phone app that allows users to transmit contact info via NFC.
        li
          div
            img(src='images/projects/blog.png', alt='')
            h1 This is a title
            p Some sample text about the article this hexagon leads to
        li
          div
            img(src='images/projects/pedometer.png', alt='')
            h1 Android Pedometer
            p Designed and implemented Android Pedometer using finite state machines and sensor event handlers. Contains map loading and path finding capabilities.
        li
          div
            img(src='images/projects/reaction.jpg', alt='')
            h1 Reaction Timer
            p Designed a program using the ARM board that records the reaction time of user based on LED stimulus and button input.
        li
          div
            img(src='images/projects/trafficlight.jpg', alt='')
            h1 This is a title
            p Some sample text about the article this hexagon leads to
        li
          div
            img(src='images/projects/pong.png', alt='' style="height:50%; top: 25%;")
            h1 Pong
            p A Recreation of the classic game of Pong using Unity.
        li
          div
            img(src='images/projects/portfolio-site.png', alt='')
            h1 Portfolio sites
            p Some sample text about the article this hexagon leads to
        li.pusher
        li.pusher
        li
          div
            img(src='images/projects/casty.png', alt='')
            h1 Casty
            p Some sample text about the article this hexagon leads to
    img.bb8(src='images/bb8.png')

  #photos
    .container.profileContainer.align-center
      h1.titleText(style='color:white;') Photos
    .container#instafeed



  #quotes.wholepage.align-center
    .container
      h1.titleText Quotes
      .row
        .col-sm-6.leftQuote
          .quote Beautiful things don't ask for attention
          .authorLeft - James Thurber
          hr
          .quote Ideals are peaceful, history is violent
          .authorLeft - David Adler
          hr
          .quote Where they have burned books, they will end in burning men
          .authorLeft - Heinrich Heine
        .col-sm-6.rightQuote
          .quote Do not seek battle until the victory has been won
          .authorRight - Sun Tzu
          hr
          .quote Nature is history's greatest artist
          .authorRight - unknown
          hr
          .quote Life can only be understood backwards but it must be lived forwards
          .authorRight - Sören Kierkegaard


  ul.sidenavbar
    #menu-center
      li.navlink
        a(href='#home').active Home
      li.navlink
        a(href='#about') About
      li.navlink
        a(href='#skills') Skills
      li.navlink
        a(href='#experiences') Experiences
      li.navlink
        a(href='#projects') Projects
