extends layout

block content
  #home.wholepage
    .container.titleContainer
      h1.titleText hey i'm bill huang.
      hr
      h2
        | and i'm a&nbsp
        #word developer
      .mouse_scroll
        .mouse
          .wheel
        div
          span.m_scroll_arrows.unu
          span.m_scroll_arrows.doi
          span.m_scroll_arrows.trei


  #about.wholepage
    .container-scene
      .scene
        .sun
        .cloud1
        .cloud2
        .cloud3
        .buildings
          .windows
          .tower-windows
            .tower-window
            .window-sill
          .blue
            .triangle
            .main
            .chimney
            .tower
          .green
            .accent1
            .accent2
          .red
            .roof1
            .main
            .chimney-roof
            .tower-roof
            .roof2
          .white
            .tower
            .triangle
            .main
          .pink
            .facade
            .tower-roof
        .land
          .tops
            .top1
            .top2
            .top3
          .edge
        .trees
          .tree1
            .foliage
            .trunk
            .branch1
            .branch2
          .tree2
            .foliage
            .trunk
            .branch1
            .branch2
          .tree3
            .foliage
            .trunk
            .branch1
            .branch2
          .tree4
            .foliage
            .trunk
            .branch1
            .branch2
          .tree5
            .foliage1
            .trunk
            .branch1
            .branch2
          .tree-white
            .foliage
            .trunk
            .branch1
            .branch2
    .container.profileContainer.align-center
      h1.titleText Profile
        h3 !{data.aboutshort}


  #skills.wholepage
    .container.profileContainer.align-center
      h1.titleText Skills
    .wrapper.align-center
      #one.border-circle
      #two.border-circle
      .background-circle
        .triangle-light
        .body
        span.shirt-text I
        span.shirt-text ♥
        span#change-text.shirt-text CSS
        .triangle-dark
      .head
        #left.ear
        #right.ear
        .hair-main
          #left.sideburn
          #right.sideburn
          .hair-top
        .face
          .hair-bottom
          .nose
          #left.eye-shadow
            .eyebrow
            .eye
          #right.eye-shadow
            .eyebrow
            .eye
          .mouth
          .shadow-wrapper
            .shadow

  #experiences.wholepage
    .container.profileContainer.align-center
      h1.titleText Experiences
    .fox
      .fox-head
        .fox-eye
        .fox-eye
      .fox-ear
      .fox-ear
      .fox-nose
      .fox-body
      .fox-tail

  #projects.wholepage
    .container.profileContainer.align-center
      h1.titleText Projects
    img.bb8(src='images/bb8.png')



  #quotes.wholepage.align-center
    .container
      h1.titleText Quotes
      .row
        .col-sm-6.leftQuote
          .quote Beautiful things don't ask for attention
          .authorLeft - James Thurber
          hr
          .quote Ideals are peaceful, history is violent
          .authorLeft - David Adler
          hr
          .quote Where they have burned books, they will end in burning men
          .authorLeft - Heinrich Heine
        .col-sm-6.rightQuote
          .quote Do not seek battle until the victory has been won
          .authorRight - Sun Tzu
          hr
          .quote Nature is history's greatest artist
          .authorRight - unknown
          hr
          .quote Life can only be understood backwards but it must be lived forwards
          .authorRight - Sören Kierkegaard


  ul.sidenavbar
    #menu-center
      li.navlink
        a(href='#home').active Home
      li.navlink
        a(href='#about') About
      li.navlink
        a(href='#skills') Skills
      li.navlink
        a(href='#experiences') Experiences
      li.navlink
        a(href='#projects') Projects
