extends layout

block content
	#home.wholepage
		.stars
		img.spaceStation(src='images/svg/space-station-1.svg')
		img.mars(src='images/svg/mars.svg')
		.container.titleContainer
			.borderContainer
				h1.titleText hey i'm bill huang.
				hr
				h2
					| and i'm a&nbsp
					span.txt-rotate(data-rotate='["developer", "traveller", "nap enthusiast", "homo Sapien", "buffet connoisseur"]')
			.mouse_scroll
				.mouse
					.wheel
				div
					span.m_scroll_arrows.unu
					span.m_scroll_arrows.doi
					span.m_scroll_arrows.trei

	include sections/about
	include sections/skills
	include sections/experiences
	include sections/projects
	include sections/photos
	include sections/quotes
