extends layout

block content

	include sections/home
	include sections/about
	include sections/skills
	include sections/experiences
	include sections/projects
	include sections/photos
	include sections/quotes
