doctype html
html
  head
    title= "Bill Huang"
    meta(name='description', content="Hi, I'm Bill. I do stuff on the internet.")
    meta(name='viewport', content='width=device-width,initial-scale=1')

    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,400italic', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Didact+Gothic', rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/mouse-icon.css')
    link(rel='stylesheet', href='/stylesheets/island-scene.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/fox.css')
    // Latest compiled and minified CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    // Optional theme
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css', integrity='sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp', crossorigin='anonymous')

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js', type='text/javascript')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.0/jquery.scrollTo.min.js')
    // Latest compiled and minified JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
    script(src="/javascripts/main.js")
  body
    block content

    #footer
      .container
        .row.socialgroup
          .col-sm-12.align-center
            .col-sm-12.footertext
              h1.footertitle Let's get in touch
            ul.socialnetwork.socialcircle
              li
                a.icoFacebook(href='https://www.facebook.com/YichenBillHuang', title='Facebook', target='_blank')
                  i.fa.fa-facebook
              li
                a.icoInstagram(href='https://www.instagram.com/billykeyss/', title='Instagram', target='_blank')
                  i.fa.fa-instagram
              li
                a.icoGithub(href='https://github.com/billykeyss', title='Github', target='_blank')
                  i.fa.fa-github
              li
                a.icoDropbox(href='https://docs.google.com/document/d/1tvnVKt-k4qT3rMR8XrZxofnDcTaDp0Raar05AWT7TBU/edit?usp=sharing', title='Resume ', target='_blank ')
                  i.fa.fa-file-text-o
              li
                a.icoLinkedin(href='https://ca.linkedin.com/in/yichenbillhuang ', title='Linkedin ', target='_blank ')
                  i.fa.fa-linkedin
        .row.align-center.copyright
          .col-sm-12.footertext
            p All logos appearing on the site are the property of their respective owners.
            p
              | Created and maintained with&nbsp
              i.fa.fa-heart(aria-hidden='true')
              |  by Bill Huang
            p ©2016 All rights reserved.
