@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body, input {
  font-family: 'Raleway', sans-serif;
}

input::-webkit-input-placeholder {
     opacity: 0.2; /*Change the opacity between 0 and 1*/
}

a {
  text-decoration: none;
  color: #222;
}

a:hover {
  color: #111;
}

a:focus {
  outline: none;
}

input {
  display: block;
  width: 335px;
  font-size: 34px;
  line-height: 44px;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  padding: 5px 0;
  border-radius: 0;
  text-align: center;
  margin: 0 auto;
}

input:focus {
  border-bottom-color: #000;
  outline: none;
}

#hex {
  margin-bottom: 15px;
}

.btn {
  display: inline-block;
  max-width: 100%;
  height: 31px;
  font: bold 13px/29px "Helvetica Neue", Helvetica, sans-serif;
  color: #222;
  background-color: transparent;
  border: 1px solid #222;
  padding: 0 8px;
  border-radius: 3px;
}

.btn:focus, .btn:hover, .btn:active {
  background-color: rgba(0, 0, 0, 0.05);
}

.btn svg {
  position: relative;
  top: 2px;
  margin-right: 1px;
  fill: #222;
}

.light {
  color: #222 !important;
}

.light input {
  color: #222 !important;
  border-bottom-color: rgba(0, 0, 0, 0.4);
}

.light input:focus {
  border-bottom-color: #000;
}

.dark .c {
  color: #fff;
}

.dark .c:hover {
  color: #ccc;
}

.dark input {
  color: #fff !important;
  border-bottom-color: rgba(255, 255, 255, 0.4);
}

.dark input:focus {
  border-bottom-color: #fff;
}

.dark {
  color: #fff;
}

.dark .button {
  color: #fff;
  border-color: #fff;
}

.dark .button:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.dark svg {
  fill: #fff;
}

.dark ::-webkit-input-placeholder {
  color: #fff !important;
}

.dark :-moz-placeholder {
  color: #fff !important;
}

.dark ::-moz-placeholder {
  color: #fff !important;
}

.dark :-ms-input-placeholder {
  color: #fff !important;
}

::-webkit-input-placeholder {
  color: #222;
}

:-moz-placeholder {
  color: #222;
}

::-moz-placeholder {
  color: #222;
}

:-ms-input-placeholder {
  color: #222;
}

@media only screen and (max-width: 400px) {
  input {
    width: 280px;
    font-size: 28px;
    line-height: 40px;
  }
  #wrap {
    width: 280px;
    margin-left: -140px;
  }
}

.palette {
  width: 100vw;
  margin: 0 auto;
  height: 20vh;
}

#palette {
  display: none;
}

#wrap {
  display: table-cell;
  width: 100vw;
  height: 100vh;
  vertical-align: middle;
  text-align: center;
}
















.inputs{
   position:relative;
   width:100%;
   text-align: center;
   box-sizing:border-box;
   padding:10px 0px 10px 10px;
}
.inputs.half{ width:50%; }

.inputs input{
   width:100%;
   padding:20px 0px 4px 0px;
   background:transparent;

   box-sizing:border-box;
   border-color: #AAA;
   border-width: 0px 0px 2px 0px;
   color:white;
   outline:none;
   padding:0px 15x;
}

.inputs input:focus{
   border-bottom:2px solid #FFF;
}

.inputs input + label:after{
   content: " ";
}


.inputs input:placeholder-shown + label{
   color:#999;
   left:14px;
   bottom:-8px;
}
.inputs input:focus + label,
.inputs input + label{
   position:absolute;
   bottom:14px;
   left:10px;
   color:#999;
   line-height:60px;
   pointer-events:none;
   transition: all 0.25s;
   font-size:14px;
}

.palette-label {
  text-align: center;
  vertical-align: middle;
  line-height: 20vh;
}
