extends layout

block content

	include ../sections/home
	include ../sections/about
	include ../sections/value
	//include ../sections/skill
	include ../sections/experience
	include ../sections/project
