.container-scene-width {
  background-color: #C4ECFC;
  /*background: linear-gradient(to right,#C4ECFC,#C4ECFC,#C4ECFC, black);*/
  width: 100%;
}

.container-scene {
  width: 700px;
  position: absolute;
  height: 375px;
  bottom: 0;
  margin: auto auto 0;
  margin-left: 50%;
  * {
    position: absolute;
  }
}

.scene {
  height: 375px;
  width: 700px;
}

.cloud1 {
  height: 20px;
  width: 40px;
  top: 130px;
  background-color: #F6F3F2;
  border-radius: 40px 40px 0px 0px;
  box-shadow: 50px -15px 0 15px #F6F3F2, 105px 0px 0 #F6F3F2;
}

.cloud2 {
  height: 20px;
  width: 40px;
  top: 50px;
  left: 386px;
  background-color: #F6F3F2;
  border-radius: 40px 40px 0px 0px;
  box-shadow: 60px -20px 0 20px #F6F3F2, 120px 0px 0 #F6F3F2, 180px -20px 0 20px #F6F3F2, 240px 0px 0 #F6F3F2;
}

.cloud3 {
  height: 20px;
  width: 40px;
  top: 140px;
  left: 400px;
  background-color: #F6F3F2;
  border-radius: 40px 40px 2px 2px;
  box-shadow: 50px -15px 0 15px #F6F3F2;
}

.cloud4 {
  position: absolute;
  height: 40px;
  width: 80px;
  top: 230px;
  left: 800px;
  background-color: #F6F3F2;
  border-radius: 40px 40px 5px 5px;
  box-shadow: 69px -25px 0 15px #F6F3F2, 138px 0px 0 #F6F3F2;
}

.cloud5 {
  position: absolute;
  z-index: 0;
  height: 30px;
  width: 60px;
  top: 130px;
  left: 600px;
  background-color: #F6F3F2;
  border-radius: 40px 40px 5px 5px;
  box-shadow: 50px -15px 0 15px #F6F3F2, 105px 0px 0 #F6F3F2;
}

.cloud6 {
  position: absolute;
  height: 100px;
  width: 200px;
  background-color: #F6F3F2;
  border-radius: 120px 120px 5px 5px;
  box-shadow: -28px -15px 0 15px #F6F3F2, 105px 0px 0 #F6F3F2;
}

.cloud7 {
  position: absolute;
  height: 100px;
  width: 200px;
  background-color: #F6F3F2;
  opacity: 0.5;
  border-radius: 120px 120px 5px 5px;
  box-shadow: -96px -15px 0 15px #F6F3F2, 105px 0px 0 #F6F3F2;
}

.cloud8 {
  position: absolute;
  height: 50px;
  width: 100px;
  background-color: #F6F3F2;
  opacity: 0.5;
  border-radius: 120px 120px 5px 5px;
  box-shadow: -96px -15px 0px 15px #F6F3F2,75px 0px 0px #F6F3F2;
}

.sun {
  height: 110px;
  width: 110px;
  border-radius: 110px;
  background-color: #FFFF66;
  position: relative;
  left: 140px;
}

.buildings {
  left: 130px;
  top: 30px;
}

.blue {
  .triangle {
    height: 0px;
    width: 0px;
    top: 120px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid #4E687E;
  }
  .main {
    background-color: #4E687E;
    width: 100px;
    top: 170px;
    height: 110px;
  }
  .chimney {
    border-right: 25px solid #4E687E;
    border-bottom: 20px solid #4E687E;
    height: 20px;
    top: 100px;
    left: 120px;
    z-index: 1;
  }
  .tower {
    width: 70px;
    height: 105px;
    background-color: #4E687E;
    top: 60px;
    left: 170px;
    z-index: 1;
  }
}

.white {
  .tower {
    width: 35px;
    height: 95px;
    background-color: #F6F3F2;
    top: 70px;
    left: 205px;
    z-index: 1;
  }
  .triangle {
    height: 0px;
    width: 0px;
    top: 160px;
    left: 280px;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 40px solid #F6F3F2;
  }
  .main {
    background-color: #F6F3F2;
    width: 80px;
    top: 200px;
    left: 280px;
    height: 80px;
  }
}

.red {
  .roof1 {
    width: 120px;
    height: 50px;
    background-color: #E17564;
    top: 120px;
    left: 75px;
    transform: skew(45deg);
  }
  .roof2 {
    width: 100px;
    height: 40px;
    background-color: #E17564;
    top: 160px;
    left: 200px;
    transform: skew(315deg);
    z-index: 2;
  }
  .tower-roof {
    border-left: 45px solid transparent;
    border-bottom: 50px solid #E17564;
    left: 160px;
    top: 10px;
  }
  .chimney-roof {
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 15px solid #E17564;
    left: 118px;
    top: 80px;
  }
}

.green {
  .accent1 {
    background-color: #61A1A1;
    height: 5px;
    width: 29px;
    top: 95px;
    left: 118px;
    z-index: 1;
  }
  .accent2 {
    background-color: #61A1A1;
    height: 8px;
    width: 76px;
    top: 130px;
    left: 167px;
    z-index: 2;
  }
}

.tower-window {
  background-color: #F6F3F2;
  height: 25px;
  width: 13px;
  top: 85px;
  left: 181px;
  border-radius: 30px 30px 0 0;
  z-index: 2;
  box-shadow: 35px 0 0 #E17564;
}

.window-sill {
  background-color: #E17564;
  height: 7px;
  width: 20px;
  top: 110px;
  left: 177px;
  z-index: 2;
  box-shadow: 36px 0 0 #4E687E;
}

.windows {
  background-color: #F6F3F2;
  height: 30px;
  width: 20px;
  top: 160px;
  left: 40px;
  z-index: 1;
  box-shadow: 270px 15px 0 -4px #E17564, 120px 55px 0 -3px #E17564, 190px 55px 0 -3px #F6F3F2, 213px 55px 0 -3px #E17564, 270px 55px 0 -3px #4E687E, 295px 55px 0 -3px #E17564, 70px 95px 0 -3px #E17564, 95px 95px 0 -3px #F6F3F2, 120px 95px 0 -3px #4E687E, 170px 95px 0 -3px #F6F3F2, 190px 95px 0 -3px #4E687E, 213px 95px 0 -3px #E17564, 250px 95px 0 -3px #E17564, 295px 95px 0 -3px #4E687E, 210px -20px 0 -5px #E17564, 218px -20px 0 -5px #EEBDAB, 82px -90px 0 -8px #E17564;
}

.land {
  background-color: #61A1A1;
  height: 65px;
  width: 535px;
  top: 310px;
  left: 30px;
  border-radius: 100px 100px 0 0;
  z-index: 3;
}

.edge {
  left: -25px;
  top: 40px;
  width: 50px;
  height: 25px;
  border-radius: 40px 40px 0 0;
  background-color: #61A1A1;
  box-shadow: 540px 0px 0 #61A1A1;
}

.top1 {
  background-color: #61A1A1;
  height: 10px;
  width: 100px;
  top: -10px;
  left: 70px;
  border-radius: 10px 10px 0 0;
}

.top2 {
  background-color: #61A1A1;
  height: 10px;
  width: 50px;
  top: -10px;
  left: 185px;
  border-radius: 10px 10px 0 0;
}

.top3 {
  background-color: #61A1A1;
  height: 10px;
  width: 80px;
  top: -10px;
  left: 370px;
  border-radius: 10px 10px 0 0;
}

.facade {
  height: 80px;
  width: 180px;
  top: 200px;
  left: 100px;
  background-color: #EDBDAC;
}

.pink .tower-roof {
  border-right: 45px solid transparent;
  border-bottom: 50px solid #EDBDAC;
  left: 205px;
  top: 10px;
}

.trees {
  //visibility:hidden;
  //z-index:2;
}

.foliage {
  height: 80%;
  width: 100%;
  background-color: #61A1A1;
  border-radius: 100%;
}

.trunk {
  height: 65%;
  width: 8%;
  left: 46%;
  top: 35%;
  background-color: #F6F3F2;
}

.branch1 {
  height: 25%;
  width: 8%;
  left: 36%;
  top: 45%;
  transform: rotate(310deg);
  background-color: #F6F3F2;
}

.branch2 {
  height: 20%;
  width: 8%;
  left: 54%;
  top: 40%;
  transform: rotate(45deg);
  background-color: #F6F3F2;
}

.foliage {
  height: 80%;
  width: 100%;
  background-color: #61A1A1;
  border-radius: 100%;
}

.trunk {
  height: 65%;
  width: 8%;
  left: 46%;
  top: 35%;
  background-color: #F6F3F2;
}

.branch1 {
  height: 25%;
  width: 8%;
  left: 36%;
  top: 45%;
  transform: rotate(310deg);
  background-color: #F6F3F2;
}

.tree-white {
  .trunk, .branch1, .branch2 {
    background-color: #61A1A1;
  }
  .foliage {
    background-color: #F6F3F2;
  }
}

.tree1 {
  width: 115px;
  height: 140px;
  left: 200px;
  top: 60px;
  z-index: 2;
}

.tree2 {
  width: 100px;
  height: 130px;
  left: 285px;
  top: 70px;
  z-index: 2;
}

.tree3 {
  width: 80px;
  height: 100px;
  left: 70px;
  top: 100px;
  z-index: -1 !important;
}

.tree4 {
  width: 80px;
  height: 100px;
  left: 460px;
  top: 100px;
  z-index: -1 !important;
}

.tree5 {
  width: 80px;
  height: 100px;
  left: 500px;
  top: 120px;
  z-index: 4 !important;
}

.foliage1 {
  height: 75%;
  width: 100%;
  background-color: #61A1A1;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
}

.tree-white {
  width: 70px;
  height: 80px;
  left: 145px;
  top: 120px;
  z-index: 1;
}
