.lable {
  font-size: 100%;
}

.set-size {
  font-size: 10em;
}

.charts-container {
  display:none;
  padding-right: 15%;
  &:after {
    clear: both;
    content: "";
    display: table;
  }
}

.pie-wrapper {
  height: 1em;
  width: 1em;
  float: left;
  margin: 15px;
  position: relative;
  .pie {
    height: 100%;
    width: 100%;
    clip: rect(0, 1em, 1em, 0.5em);
    left: 0;
    position: absolute;
    top: 0;
    .half-circle {
      height: 100%;
      width: 100%;
      border: 0.1em solid #3498db;
      border-radius: 50%;
      clip: rect(0, 0.5em, 1em, 0);
      left: 0;
      position: absolute;
      top: 0;
    }
  }
  .label {
    background: #34495e;
    border-radius: 50%;
    bottom: 0.4em;
    color: #ecf0f1;
    cursor: default;
    display: block;
    font-size: 0.2em;
    left: 0.4em;
    line-height: 3.7em;
    position: absolute;
    right: 0.4em;
    text-align: center;
    top: 0.5em;
    .smaller {
      color: #bdc3c7;
      font-size: .45em;
      padding-bottom: 20px;
      vertical-align: super;
    }
  }
  .shadow {
    height: 100%;
    width: 100%;
    border: 0.1em solid #bdc3c7;
    border-radius: 50%;
  }
  &.style-2 .label {
    background: none;
    color: #7f8c8d;
    .smaller {
      color: #bdc3c7;
    }
  }
  &.progress-30 .pie {
    .right-side {
      display: none;
    }
    .half-circle {
      border-color: #3498db;
    }
    .left-side {
      -webkit-transform: rotate(108deg);
      transform: rotate(108deg);
    }
  }
  &.progress-60 .pie {
    clip: rect(auto, auto, auto, auto);
    .right-side {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
    .half-circle {
      border-color: #9b59b6;
    }
    .left-side {
      -webkit-transform: rotate(216deg);
      transform: rotate(216deg);
    }
  }
  &.progress-90 .pie {
    clip: rect(auto, auto, auto, auto);
    .right-side {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
    .half-circle {
      border-color: #e67e22;
    }
    .left-side {
      -webkit-transform: rotate(324deg);
      transform: rotate(324deg);
    }
  }
  &.progress-45 .pie {
    .right-side {
      display: none;
    }
    .half-circle {
      border-color: #1abc9c;
    }
    .left-side {
      -webkit-transform: rotate(162deg);
      transform: rotate(162deg);
    }
  }
  &.progress-75 .pie {
    clip: rect(auto, auto, auto, auto);
    .right-side {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
    .half-circle {
      border-color: #8e44ad;
    }
    .left-side {
      -webkit-transform: rotate(270deg);
      transform: rotate(270deg);
    }
  }
  &.progress-95 .pie {
    clip: rect(auto, auto, auto, auto);
    .right-side {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
    .half-circle {
      border-color: #e74c3c;
    }
    .left-side {
      -webkit-transform: rotate(342deg);
      transform: rotate(342deg);
    }
  }
  &.progress-85 .pie {
    clip: rect(auto, auto, auto, auto);
    .right-side {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
    .half-circle {
      border-color: #e74c3c;
    }
    .left-side {
      -webkit-transform: rotate(306deg);
      transform: rotate(306deg);
    }
  }
  &.progress-65 .pie {
    clip: rect(auto, auto, auto, auto);
    .right-side {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
    .half-circle {
      border-color: #31355b;
    }
    .left-side {
      -webkit-transform: rotate(234deg);
      transform: rotate(234deg);
    }
  }
  &.progress-100 .pie {
    clip: rect(auto, auto, auto, auto);
    .right-side {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
    .half-circle {
      border-color: #f8c687;
    }
    .left-side {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}

/*.pie-wrapper:nth-child(6n+1) {
    clear: both;
}*/


// BAR GRAPH

$red: #fd7473;
$yellow: #fec951;
$blue: #47b8e0;
$purp: #9f68d0;

.skillSetWrapper{
  margin: 0 auto;
  width: 80%;
  margin-top: 15px;
}

.bar{
  position: relative;
  width: 100%;
  height: 48px;
  background: rgba(255,255,255,0.1);
  margin-bottom: 1.5rem;
  border-radius: 5px;
  .bar-info{
    border-radius: 5px;
    padding: 0.75rem;
    background: $red;
    color: white;
    width: 10%;
    position: relative;
    height: 100%;
    transition: width 1.5s ease-in-out;
    .percent{
      float: right;
    }
    &.html{
      background: linear-gradient($red, #FC688E), $red;
    }
    &.css{
      background: linear-gradient($yellow, #FCAD44), $yellow;
    }
    &.js{
      background: linear-gradient($blue, #28BEFA), $blue;
    }
    &.python{
      background: linear-gradient($red, #FC688E), $red;
    }
    &.react{
      background: linear-gradient($yellow, #FCAD44), $yellow;
    }
    &.node{
      background: linear-gradient($purp, #BB68D0), $purp;
    }
    &.angular{
      background: linear-gradient($blue, #28BEFA), $blue;
    }
    &.express{
      background: linear-gradient($yellow, #FCAD44), $yellow;
    }
    &.java{
      background: linear-gradient($blue, #28BEFA), $blue;
    }
  }
}
