doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='description', content='Easy tool to convert between RGB and Hex as well as generate simple color palettes')
		title Color Palette Generator

		link(rel='stylesheet', href='/stylesheets/components/buttons.css')
		link(rel='stylesheet', href='/stylesheets/pages/color.css')
	body
		#wrap
			input#hex(type='text', placeholder='hex', autocomplete='off')
			input#rgb(type='text', placeholder='rgb', autocomplete='off')
			.button.button-2#generate(style='margin-top:50px') Generate a color
		#palette
			.row.palette
				p.palette-label test
			.row.palette
				p.palette-label test
			.row.palette
				p.palette-label test
			.row.palette
				p.palette-label test
			.row.palette
				p.palette-label test


	script(src="/javascripts/lib/jquery.min.js")
	script(src="/javascripts/lib/url.min.js")
	script(src='/javascripts/utils/request-utils.js')
	script(src='/javascripts/pages/color.js')
