doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='description', content='Tracking my consumptions')
		title Consumption Tracker

		link(rel='stylesheet', href='/stylesheets/pages/tracker.css')
	body
		.section-title Consumption tracker
		.toggle-type Indica/Sativa
		.toggle.toggle-daynight
			input#toggle-daynight.toggle-checkbox(type='checkbox')
			label.toggle-btn(for='toggle-daynight')
				span.toggle-feature
		hr
		.toggle-title Type
		.wrap
			input#flower.sw(type='checkbox' name='flower')
			label(for='flower')
				span Flower
		.wrap
			input#shatter.sw(type='checkbox' name='shatter')
			label(for='shatter')
				span Shatter
		.wrap
			input#oil.sw(type='checkbox' name='oil')
			label(for='oil')
				span Oil
		.wrap
			input#kief.sw(type='checkbox' name='kief')
			label(for='kief')
				span Kief
		hr
		.toggle-title Method
		.selector
			input#bong(type='radio' name='duration' value='Bong' checked='')
			label(for='bong') 
				.title Bong
			input#vape(type='radio' name='duration' value='Vape')
			label(for='vape') 
				.title Vape
			input#dab(type='radio' name='duration' value='Dab')
			label(for='dab') 
				.title Dab
			input#pipe(type='radio' name='duration' value='Pipe')
			label(for='pipe') 
				.title Pipe
			input#joint(type='radio' name='duration' value='Joint')
			label(for='joint')
				.title Joint
		.wrap
			span
				input#password.balloon(type="text" placeholder="Enter Password...")
		.wrap
			button.button Submit



	script(src="/javascripts/lib/jquery.min.js")
	script(src='/javascripts/utils.js')
	script(src='/javascripts/tracker.js')
