doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='description', content='Tracking my consumptions')
		title Consumption Tracker

		link(rel='stylesheet', href='/stylesheets/pages/tracker.css')
	body
		p test


	script(src="/javascripts/lib/jquery.min.js")
	script(src='/javascripts/tracker.js')
